<app-menu></app-menu>


<div class="row">
    <div class="">
        <div class="card">
            <div class="center-align">
            </div>
            <div class="card-content">
                <div class="nav-wrapper container">
                    <h5>
                        <b> <span class="blue-text text-darken-2">Criação e Manutenção de Jardim</span>
                        </b>

                    </h5>
                </div>

            </div>

        </div>

    </div>
</div>



<div class="row container">
    <div class="col s12 m12 l11">
        <h4>
            <b>
            </b>

        </h4>
        <p>
            Nossos serviços de jardinagem iniciam-se com uma análise das necessidades do cliente e levantamento das características do local.

            <br> O processo de desenvolvimento consiste no criterioso estudo das propriedades e necessidades do espaço em que será desenvolvido o jardim como a preparação do terreno, adubação levando em consideração as propriedades do solo e de cada planta.

            Em seguida são avaliada as caracteristicas do local para melhor adequação do tipo e disposição das planta que contempla o melhor aspecto harmônico do ambiente, sempre levando em conta as preferencias do cliente agregando maior qualidade de vida aos espaços de convivência.
        </p>

    </div>

</div>


<div class="section white  container">
    <div class="row">
        <div class="col s12 m12 l12">
            <h5 class="header">Manutenção de jardins e demais áreas verdes</h5>
            <div class="card horizontal z-depth-2 hoverable">
                <div class="card-image hide-on-small-only">
                    <img src="../../assets/img/jardim/a2.jpg">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <p>
                            <b>Após a criação de sua área verde(Jardim) todos os cuidados devem ser tomados para garantir seu pleno desenvolvimento.</b>
                        </p>
                        <ul class="collection with-header">

                            <li class="collection-item">
                                <div>Limpeza de todos os resíduos prejudiciais ao ajardim<a class="secondary-content"><i class="fa fa-location-arrow fa-2x circle" aria-hidden="true"></i></a></div>
                            </li>
                            <li class="collection-item">
                                <div>Remoção de ervas daninhas em geral<a class="secondary-content"><i class="fa fa-location-arrow fa-2x circle" aria-hidden="true"></i></a></div>
                            </li>
                            <li class="collection-item">
                                <div>Poda de arbustos para controle de crescimento das plantas<a class="secondary-content"><i class="fa fa-location-arrow fa-2x circle" aria-hidden="true"></i></a></div>
                            </li>
                            <li class="collection-item">
                                <div>Aplicação de produtos de combate à pragas<a class="secondary-content"><i class="fa fa-location-arrow fa-2x circle" aria-hidden="true"></i></a></div>
                            </li>
                            <li class="collection-item">
                                <div>Rega e afofamento da terra dos canteiros e vasos<a class="secondary-content"><i class="fa fa-location-arrow fa-2x circle" aria-hidden="true"></i></a></div>
                            </li>
                            <li class="collection-item">
                                <div>Adubação e reparos em geral<a class="secondary-content"><i class="fa fa-location-arrow fa-2x circle" aria-hidden="true"></i></a></div>
                            </li>
                        </ul>

                    </div>

                </div>
            </div>
            <p class="grey-text text-darken-3 lighten-3"></p>
        </div>
    </div>
</div>

&nbsp;
<div class="row container">
    <div class="col s12 m12 l12">

    </div>


    <div class="col s12 m6 l4">


        <ul class="collection">
            <li class="collection-item ">
                <img src="../../assets/img/jardim/pl.png" alt="" class="circle">
                <span class="title">Planeamento</span>

                <a class="secondary-content"><i class="fa fa-star fa-2x circle" aria-hidden="true"></i></a>
            </li>
        </ul>
    </div>

    <div class="col s12 m6 l4">
        <ul class="collection">
            <li class="collection-item ">
                <img src="../../assets/img/jardim/cons.png" alt="" class="circle">
                <span class="title">Construção</span>

                <a class="secondary-content"><i class="fa fa-star fa-2x circle" aria-hidden="true"></i></a>
            </li>
        </ul>
    </div>


    <div class="col s12 m6 l4">
        <ul class="collection">
            <li class="collection-item ">
                <img src="../../assets/img/jardim/mt.png" alt="" class="circle">
                <span class="title">Manutenção</span>

                <a class="secondary-content"><i class="fa fa-star fa-2x circle" aria-hidden="true"></i></a>
            </li>
        </ul>
    </div>

</div>
&nbsp;
<app-footer></app-footer>