<footer class="page-footer  light-blue darken-4">
    <div class="container">
        <div class="row">
            <div class="col l4 s12">
                <h5 class="white-text">Conatcto</h5>
                <p class="grey-text text-lighten-4">
                    Rua 21 de janeiro, Multiperfil
                    <br>
                    +244 923 425 065
                    <br>
                    5h-print@gmail.com
            
            
                </p>
            </div>
            <div class="col l4 s12">
                <h5 class="white-text">News</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#!">Luanda em Nova</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Jornal de Angola</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Fill Beauty</a></li>
                </ul>
            </div>
            <div class="col l4 s12 right">
                <h5 class="white-text">Social Links </h5>
                        <ul>
                            <li>
                                <a class="grey-text text-lighten-3" href="#!">
                                    <i class="fa fa-facebook fa-1x circle" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a class="grey-text text-lighten-3" href="#!">
                                    <i class="fa fa-twitter fa-1x circle" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a class="grey-text text-lighten-3" href="#!">
                                    <i class="fa fa-instagram fa-1x circle" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </div>

        </div>
    </div>
    <div class="footer-copyright blue-grey darken-4">
        <div class="container">
            © 2014 Copyright Sofil-Web
            <a class="grey-text text-lighten-4 right" href="#!"></a>
        </div>
    </div>
</footer>