
<div class="section white  container">
    <div class="row">
        <div class="col s12 m12 l12">
            <h5 class="header">Porque contratar a Lótus HL & MN, LDA.</h5>


            <ul class="collection with-header">
                        
                <li class="collection-item">
                    <div>Larga experiência e competências com mercado <a class="secondary-content"><i class="material-icons">send</i></a></div>
                </li>
                <li class="collection-item">
                    <div>Total comprometimento de colaboradores plenamente motivados com politicas de incentivo<a class="secondary-content"><i class="material-icons">send</i></a></div>
                </li>
                <li class="collection-item">
                    <div>Estrutura capaz de atender empresas de todos os portes e seguimento de negócio com rapidez e qualidade<a class="secondary-content"><i class="material-icons">send</i></a></div>
                </li>
                <li class="collection-item">
                    <div>Reputação de empresa comprovadamente comprometida com a satisfação dos clientes<a class="secondary-content"><i class="material-icons">send</i></a></div>
                </li>
                <li class="collection-item">
                    <div>Flexibilidade para adequação as necessidades dos clientes a utilização de equipamentos modernos e tecnologias de ponta<a class="secondary-content"><i class="material-icons">send</i></a></div>
                </li>
                <li class="collection-item">
                    <div>Garantia de capacitação de colaboradores para a realização de trabalho executado com os mais elevados padrões e técnicas modernas de limpeza<a class="secondary-content"><i class="material-icons">send</i></a></div>
                </li>
            </ul>
            
            <p class="grey-text text-darken-3 lighten-3"></p>
            </div>
            </div>
            </div>
            
            <div class="row">
                <div class="col s12 m12 l12">
            
                    <div class="card-content">
                        <div class="nav-wrapper container">
                            <h6>
                                <b>
                                    <span class="black-text text-darken-2">
            
                                    </span>
                                </b>
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col s12 m6 l3">
                        <div class="card hoverable">
                            <div class="card-image">
                                <img src="../../assets/img/ac/ac3.jpg" class="responsive-img">
                            </div>
                            <div class="card-content">
                                <a routerLink="/page/manutencao-ac">
                                    <span class="card-title center-align"> <b>Limpeza de A/C</b> </span>
                                </a>
                            </div>
                        </div>
                    </div>
            
            
            
                    <div class="col s12 m6 l3">
                        <div class="card hoverable">
                            <div class="card-image circle">
                                <img src="../../assets/img/jardim/a1.jpg" class="responsive-img">
                            </div>
                            <div class="card-content">
                                <a routerLink="/page/criacao-manutencao-jardim">
                                    <span class="card-title center-align"> <b>Manutenção de Jardim</b> </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m6 l3">
                        <div class="card hoverable">
                            <div class="card-image">
                                <img src="../../assets/img/piscina/p7.jpg" class="responsive-img">
                            </div>
                            <div class="card-content">
                                <a routerLink="/page/construcao-manutencao-pscina">
                                    <span class="card-title center-align"> <b>Limpeza de Piscina</b> </span>
                                </a>
                            </div>
                            </div>
                            </div>
                
                        <div class="col s12 m6 l3">
                            <div class="card hoverable">
                                <div class="card-image">
                                    <img src="../../assets/img/civil/c6.jpg" class="responsive-img">
                                </div>
                                <div class="card-content">
                                    <a routerLink="/page/construcao-civil">
                                        <span class="card-title center-align"> <b>Construção de Residência</b> </span>
                                    </a>
                                </div>
                            </div>
                </div>
            
    </div>
</div>