<div class="section white  container">
    <div class="row">
        <div class="col s12 m12 l12">
            <h4 class="header">Trabalhos Recente</h4>
            <div class="card horizontal z-depth-2 hoverable">
                <div class="card-image">
                    <img src="../../assets/img/parallax/p3.jpg">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <p>I am a very simple card. I am good at containing small bits of information.
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis sunt eius nostrum repudiandae numquam iusto hic dolores, inventore magni sit ex incidunt laboriosam consequatur dignissimos nesciunt molestias? Vero, eligendi error.
                        </p>
                    </div>
                    <div class="card-action">
                        <a href="#"> Saiba Mais</a>
                    </div>
                </div>
        </div>
        <p class="grey-text text-darken-3 lighten-3"></p>
     </div>
    </div>
</div>
