
<div class="section white  container">
    <div class="row">
        <div class="col s12 m12 l12">
            <h5 class="header">Porque contratar a Lótus HL & MN, LDA.</h5>
            <div class="card horizontal z-depth-2 hoverable">
                <div class="card-image hide-on-small-only">
                    <img src="../../assets/img/parallax/p3.jpg">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <ul class="collection with-header">
                        
                            <li class="collection-item">
                                <div>Larga experiência e competências com mercado <a class="secondary-content"><i class="material-icons">send</i></a></div>
                            </li>
                            <li class="collection-item">
                                <div>Total comprometimento de colaboradores plenamente motivados com politicas de incentivo<a class="secondary-content"><i class="material-icons">send</i></a></div>
                            </li>
                            <li class="collection-item">
                                <div>Estrutura capaz de atender empresas de todos os portes e seguimento de negócio com rapidez e qualidade<a class="secondary-content"><i class="material-icons">send</i></a></div>
                            </li>
                            <li class="collection-item">
                                <div>Reputação de empresa comprovadamente comprometida com a satisfação dos clientes<a class="secondary-content"><i class="material-icons">send</i></a></div>
                            </li>
                            <li class="collection-item">
                                <div>Flexibilidade para adequação as necessidades dos clientes a utilização de equipamentos modernos e tecnologias de ponta<a class="secondary-content"><i class="material-icons">send</i></a></div>
                            </li>
                            <li class="collection-item">
                                <div>Garantia de capacitação de colaboradores para a realização de trabalho executado com os mais elevados padrões e técnicas modernas de limpeza<a class="secondary-content"><i class="material-icons">send</i></a></div>
                            </li>
                        </ul>

                    </div>

                </div>
            </div>
            <p class="grey-text text-darken-3 lighten-3"></p>
        </div>
    </div>
</div>