<div class="row">
    <p>&nbsp; </p>


</div>
<div class="container">
    <div class="row">

        <div class="col s12 m12 l4">
            <div class="card hoverable">
                <div class="center-align">
                    <p>&nbsp; </p>
                    <i class="fa fa-pagelines fa-5x circle" aria-hidden="true"></i>
        
                </div>
                <div class="card-content">
                    <span class="card-title center-align"> <b> Criação e Manutenção de Jardim</b> </span>
        
                    <p></p>
                </div>
                <div class="card-action center-align">
                    <a routerLink="/page/criacao-manutencao-jardim" class="blue-text text-darken-2"> <strong>Saiba Mais</strong></a>
                </div>
            </div>
        
        </div>
        
        <div class="col s12 m12 l4">
            <div class="card hoverable">
                <div class="center-align">
                    <p>&nbsp; </p>
                    <i class="fa fa-lastfm-square fa-5x circle" aria-hidden="true"></i>
                </div>
                <div class="card-content">
                    <span class="card-title center-align"> <b> Manutenção de <br> A/C</b> </span>
                </div>
                <div class="card-action center-align">
                    <a routerLink="/page/construcao-manutencao-pscina" class="blue-text text-darken-2"> <strong>Saiba Mais</strong></a>
                </div>
            </div>
        
        </div>
        
        <div class="col s12 m12 l4">
            <div class="card hoverable">
                <div class="center-align">
                    <p>&nbsp; </p>
        
                    <i class="fa fa-cubes fa-5x circle" aria-hidden="true"></i>
        
                </div>
                <div class="card-content">
                    <span class="card-title center-align"> <b> Construção <br> Civil</b> </span>
                </div>
                <div class="card-action center-align">
                    <a routerLink="/page/construcao-civil" class="blue-text text-darken-2"> <strong>Saiba Mais</strong></a>
                </div>
            </div>
                
        </div>
                
    </div>
                
</div>
                
<div class="container">
    <div class="row">
            <div class="col s12 m6 l6">
                <div class="card hoverable">
                    <div class="center-align">
            <p>&nbsp; </p>
            <i class="fa fa-trash fa-5x circle" aria-hidden="true"></i>
            
            </div>
            <div class="card-content">
                <span class="card-title center-align"> <b> Desinfestação e <br> Limpeza</b> </span>
                </div>
                <div class="card-action center-align">
                    <a routerLink="/page/desinfestação-limpeza" class="blue-text text-darken-2"> <strong>Saiba Mais</strong></a>
                </div>
            </div>
    
        </div>

        <div class="col s12 m6 l6">
            <div class="card hoverable">
                <div class="center-align"> 
                    <p>&nbsp; </p>
                    <i class="fa fa-bath fa-5x circle" aria-hidden="true"></i>
                </div>
                <div class="card-content">
                    <span class="card-title center-align"> <b> Construção e Manutenção <br>
                            de Piscina</b> </span>
                </div>
                <div class="card-action center-align">
                    <a routerLink="/page/manutencao-ac" class="blue-text text-darken-2"> <strong>Saiba Mais</strong></a>
                </div>
            </div>

        </div>

    </div>

</div>

<div class="row">


    &nbsp;
</div>