<app-menu>
</app-menu>

<div class="row">
    <div class="">
        <div class="card">
            <div class="center-align">
            </div>
            <div class="card-content">
                <div class="nav-wrapper container">
                    <h5>
                        <b>
                            <span class="blue-text text-darken-2">
                                Manutenção de Ar Condicionado
                                <br>
                                <small class="black-text"></small>
                            </span>
                        </b>

                    </h5>
                </div>

            </div>

        </div>

    </div>
</div>

&nbsp;
<div class="row container">
    <div class="col s12 m12 l12">
        <p>
            A <b>LÓTUS HL & MN</b> é uma empresa especializada em instalação,
            conserto, manutenção preventiva e corretiva de ar condicionado.
            A empresa LÓTUS HL & MN possui 25 anos de experiência e dentre suas qualidades destacam-se a
            garantia, a qualidade, a experiência e a invação presentes em seus serviços.
            <br>
            A LÓTUS HL & MN atua em diversos segmentos, como o ramo industrial, o
            residencial, ramo hospitalar, bancos, hotéis e transportes.
        </p>
        <p>
            A <b>LÓTUS HL & MN</b> é uma empresa que busca oferecer uma instalação de acordo
            com as necessidades, garantindo assim a satisfação de seus clientes.
            Além de disponibilizar funcionários e técnicos altamente capacitados,
            treinados e qualificados, que estão sempre prontos para resolver qualquer
            tipo de problema que o equipamento possa apontar.
        </p>
    </div>
</div>

&nbsp;
<div class="row">
<div class="col s12 m12 l12">

    <div class="card-content">
        <div class="nav-wrapper container">
            <h5>
                <b>
                    <span class="black-text text-darken-2">
                        SERVIÇOS DE MANUTENÇÃO DE AR CONDICIONADO
                    </span>
                </b>
                </h5>
</div>
</div>
</div>
</div>




<div class="section white  container">
    <div class="row">
        <div class="col s12 m6 l6">

            <ul class="collection with-header">

                <li class="collection-item">
                    <div>Instalação do Ar condicionado <a class="secondary-content"><i class="material-icons">send</i></a></div>
                </li>
                <li class="collection-item">
                    <div>Manutenção do Ar condicionado<a class="secondary-content"><i class="material-icons">send</i></a></div>
                </li>
                <li class="collection-item">
                    <div>Manutenção Preventiva e Corretiva de Ar Condicionado<a class="secondary-content"><i class="material-icons">send</i></a></div>
                </li>

            </ul>
        </div>

        <div class="col s12 m6 l6">

            <ul class="collection with-header">

                <li class="collection-item">
                    <div>Higienização de Ar Condicionado<a class="secondary-content"><i class="material-icons">send</i></a></div>
                </li>
                <li class="collection-item">
                    <div>Limpeza de Ar Condicionado<a class="secondary-content"><i class="material-icons">send</i></a></div>
                </li>
                <li class="collection-item">
                    <div>Conserto de Ar Condicionado<a class="secondary-content"><i class="material-icons">send</i></a></div>
                </li>

            </ul>
        </div>
    </div>
</div>


<div class="section white  container">
    <div class="row">
        <div class="col s12 m12 l12">
            <div class="card horizontal z-depth-2 hoverable">
                <div class="card-image hide-on-small-only">
                    <img src="../../assets/img/ac/ac0.jpg">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <h5 class="header"> Instalação do ar-condicionado</h5>
                        <P>
                            Uma vez escolhido e comprado o aparelho, na hora da instalação é preciso
                            ficar atento à instalação elétrica, já que a tensão disponível no local
                            e a tensão na qual ele deve funcionar devem ser compatíveis.
                            Caso seja preciso mexer na rede elétrica,
                            a dica é procurar um profissional especializado para fazer a alteração
                        </P>
                        <p>
                            Se o aparelho escolhido for um split, ele terá uma evaporadora,
                            que deverá ser instalada internamente, em local onde o fluxo de ar seja
                            paralelo à maior dimensão do ambiente, longe de fontes de calor e de equipamentos
                            eletrônicos, e nunca atrás de móveis, cortinas ou qualquer objeto que impeça o fluxo de ar.
                        </p>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<div class="section white  container">
    <div class="row">
        <div class="col s12 m12 l12">
            <div class="card horizontal z-depth-2 hoverable">
                <div class="card-image hide-on-small-only">
                    <img src="../../assets/img/ac/ac4.jpg">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <h5 class="header">Manutenção do ar-condicionado</h5>
                        <P>
                            garante seu perfeito funcionamento evitando panes, economia de
                            energia e maior vida útil de todas as peças, evitando trocas ou
                            problemas com o equipamento como um todo. Além disso, há também
                            benefícios para a saúde, evitando a proliferação de fungos e bactérias,
                            além de fumaça, poluição e poeira que prejudicam a qualidade do ar
                            consumido. A limpeza dos filtros deve ser feita a cada 15 dias,
                            lavando-o em água corrente e retirando a poeira do aparelho com pano seco.
                        </P>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col s12 m12 l4">
            <div class="card hoverable">
                <div class="card-image circle">
                    <img src="../../assets/img/ac/ac3.jpg" class="responsive-img">

                </div>
                <div class="card-content">
                    <span class="card-title center-align"> <b> Limpeza de Ar Condicionado</b> </span>
                    <p> </p>
                </div>
            </div>
        </div>

        <div class="col s12 m12 l4">
            <div class="card hoverable">
                <div class="card-image">
                    <img src="../../assets/img/ac/ac5.jpg" class="responsive-img">

                </div>
                <div class="card-content">
                    <span class="card-title center-align"> <b> Higienização de Ar Condicionado</b> </span>
                    <p> </p>
                </div>
            </div>
        </div>

        <div class="col s12 m12 l4">
            <div class="card hoverable">
                <div class="card-image">
                    <img src="../../assets/img/ac/ac2.png" class="responsive-img">

                </div>
                <div class="card-content">
                    <span class="card-title center-align"> <b>Conserto de Ar Condicionado</b> </span>
                    <p> </p>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>