<div class="row">
    <nav class="blue-grey darken-4">
        <div class="col s12 m12 ">
            <div class="nav-wrapper container">
                <a href="#" class="brand-logo">5HL-PRINT</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/">HOME</a></li>
                    <li><a routerLink="/servico">SERVIÇOS</a></li>
                    <li><a routerLink="/galeria">GALERIA</a></li>
                    <li><a routerLink="/contacto">CONTACTOS</a></li>
                </ul>
            </div>

        </div>

    </nav>

</div>