<div class="row ">
    <div class="navbar-fixed">
    <nav class="blue-grey darken-4 ">
        <div class="col s12 m12 ">

            <div class="nav-wrapper container">
                <div class="col s3 m2 l2">
                    <img src="../../assets/img/lotus1.png" alt="" class="responsive-img"> <!-- notice the "circle" class -->
                </div>
                <ul id="nav-mobile" class="right hide-on-med-and-down">

                    <li><a href="/">HOME</a></li>
                    <li><a routerLink="/page/servico">SERVIÇOS</a></li>
                    <li><a routerLink="/page/galeria">GALERIA</a></li>
                    <li><a routerLink="/page/contacto">CONTACTO</a></li>
                </ul>
                </div>
        </div>
        
        </nav>
    </div>
        <nav class="blue-grey darken-4 ">
            <div class="col s12 m12 ">
                <div class="nav-wrapper container">
                    <div class="col s3 m2 l2">
                    </div>
                </div>
        </div>

    </nav>

</div>