<app-menu>
</app-menu>

<div class="row">
    <div class="">
        <div class="card">
            <div class="center-align">
            </div>
            <div class="card-content">
                <div class="nav-wrapper container">
                    <h5>
                        <b>
                            <span class="blue-text text-darken-2">
                                Desinfestação e Limpeza
                                <br>
                                <small class="black-text"></small>
                            </span>
                        </b>

                    </h5>
                </div>

            </div>

        </div>

    </div>
</div>

&nbsp;


<div class="container">
    <div class="row">
        <div class="col s12 m12 l4">
            <div class="card hoverable">
                <div class="card-image circle">
                    <img src="../../assets/img/servico/des1.jpeg" class="materialboxed" width="650">

                </div>
                <div class="card-content">
                    <span class="card-title center-align"> <b> Desinfestação</b> </span>
                    <p>
                        Prestamos serviços na prevenção e eliminação de pragas
                        como baratas, ratos, formigas, moscas, mosquitos, entre outras
                        em casas e empresas. Conhecemos bem as Pragas, o seu ciclo de vida,
                        bem como os seus hábitos e é com base nesse conhecimento que oferecemos
                        soluções rápidas e eficazes, adequadas às necessidades específicas de
                        cada Cliente. </p>
                </div>

            </div>

        </div>

        <div class="col s12 m12 l4">
            <div class="card hoverable">
                <div class="card-image">
                    <img src="../../assets/img/servico/des6.jpg">

                </div>

                <div class="card-content">
                    <span class="card-title center-align"> <b> Desbaratização</b> </span>
                    <p>Fornecemos uma gama de tratamento de baratas através de pulverização
                        ou aplicação de isco em gel. A aplicação
                        do isco em gel permite a realização do serviço sem perturbar o normal
                        funcionamento das instalações, não é necessário a desocupação dos habitantes,
                        pois é um trabalho limpo e sem cheiro! Podem realizar-se contratos
                        de manutenção/prevenção periódicas.
                    </p>
                </div>

            </div>

        </div>

        <div class="col s12 m12 l4">
            <div class="card hoverable">
                <div class="card-image">
                    <img src="../../assets/img/servico/des5.jpg">

                </div>
                <p>
                    &nbsp;
                </p>
                <div class="card-content">
                    <span class="card-title center-align"> <b> Desratização</b> </span>

                    <p>
                        A Tecnopest nestas intervenções instala estações de
                        isco de alta segurança, assinaladas com placas avisadoras,
                        bem como iscos adequados às características das zonas que
                        será tratada e das espécies a controlar. Podem realizar-se
                        contratos de varias /prevenção periódicas, os quais serão
                        analisados individualmente.
                    </p>
                </div>

            </div>

        </div>
    </div>

</div>
<div class="row">
    &nbsp;
</div>



<div class="section white  container">
    <div class="row">
        <div class="col s12 m12 l12">
            <h5 class="header"></h5>
            <div class="card horizontal z-depth-2 hoverable">
                <div class="card-image hide-on-small-only">
                    <img src="../../assets/img/servico/tec.jpg">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <h5 class="header"> Serviço de Limpeza e Desifestação</h5>
                        <P>
                            Dispomos de uma gama completa de serviços de Higiene e Limpeza
                            capazes de dar resposta a todos os requisitos dos mais diversos
                            tipos de espaços e ambientes..
                            <br>
                            Oferecemos uma variedade de soluções no controle de
                            insectos voadores (Mosquitos e Moscas)
                        </P>



                    </div>

                </div>
            </div>
            <p class="grey-text text-darken-3 lighten-3"></p>
        </div>
    </div>
</div>


<app-footer></app-footer>