<app-menu>

</app-menu>

<div class="row">
    <div class="">
        <div class="card">
            <div class="center-align">
            </div>
            <div class="card-content">
                <div class="nav-wrapper container">
                    <h5>
                        <b> Os Nossos <span class="blue-text text-darken-2">Serviços </span>
                        </b>
                    </h5>
                    </div>
                    
                    </div>
                    
                    </div>

    </div>
</div>


&nbsp;

<div class="container">
    <div class="row">

        <div class="col s12 m4 l4">
            <div class="card hoverable">
                <div class="card-image circle">
                    <img src="../../assets/img/gallery/g2.jpg" class="materialboxed" width="650">

                </div>
                <div class="card-content">
                    <span class="card-title center-align"> <b> Criação e Manutenção de Jardim</b> </span>
                    <p> repellendus? Odit, iste! Illum modi id, nemo molestiae recusandae voluptatibus aliquid vero libero magni placeat ipsam assumenda, nesciunt, esse sapiente quibusdam.</p>
                </div>
                <div class="card-action center-align">
                    <a href="#" class="blue-text text-darken-2"> <strong>Saiba Mais</strong></a>
                </div>
            </div>

        </div>

        <div class="col s12 m4 l4">
            <div class="card hoverable">
                <div class="card-image">
                    <img src="../../assets/img/gallery/g1.jpeg">

                </div>

                <div class="card-content">
                    <span class="card-title center-align"> <b> Conatrução e Manutenção de Pscina</b> </span>
                    <p> commodi numquam perspiciatis, veniam quis, atque nam eum quibusdam similique voluptatibus quam necessitatibus. Corrupti.</p>
                </div>
                <div class="card-action center-align">
                    <a href="#" class="blue-text text-darken-2"> <strong>Saiba Mais</strong></a>
                </div>
            </div>

        </div>

        <div class="col s12 m4 l4">
            <div class="card hoverable">
                <div class="card-image">
                    <img src="../../assets/img/gallery/c1.jpg">

                </div>
                <div class="card-content">
                    <span class="card-title center-align"> <b> Construção Civil</b> </span>
                    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis deleniti quidem eligendi. Facilis aut, minus sequi officiis odit expedita aliquam quod, distinctio libero, nulla quam voluptatibus et deserunt pariatur doloribus..</p>
                </div>
                <div class="card-action center-align">
                    <a href="#" class="blue-text text-darken-2"> <strong>Saiba Mais</strong></a>
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        &nbsp;
    </div>
    <hr class="blue-text text-darken-3">


    <div class="row">

        <div class="col s12 m6 l4">
            <div class="card hoverable">
                <div class="card-image circle">
                    <img src="../../assets/img/gallery/g5.jpg" class="materialboxed" width="650">

                </div>
                <div class="card-content">
                    <span class="card-title center-align"> <b> Manutenção de Ac</b> </span>
                    <p>Lorem ipsum dolor sitRem quidem perspiciatis facere provident? Culpa nesciunt eligendi minus amet optio corporis reiciendis maxime excepturi sint. Doloribus facere provident facilis exercitationem alias.</p>
                </div>
                <div class="card-action center-align">
                    <a href="#" class="blue-text text-darken-2"> <strong>Saiba Mais</strong></a>
                </div>
            </div>

        </div>

        <div class="col s12 m6 l4">
            <div class="card hoverable">
                <div class="card-image">
                    <img src="../../assets/img/gallery/g3.jpg">

                </div>
                <div class="card-content">
                    <span class="card-title center-align"> <b> Instalação Eléctrica</b> </span>
                    <p> Lorem ipsum dolor sit amet, Molestias neque, omnis, incidunt qui nihil veritatis blanditiis reiciendis harum tenetur sequi, tempore dicta commodi aspernatur et illo quam dignissimos soluta odio.</p>
                </div>
                <div class="card-action center-align">
                    <a href="#" class="blue-text text-darken-2"> <strong>Saiba Mais</strong></a>
                </div>
            </div>

        </div>

        <div class="col s12 m6 l4">
            <div class="card hoverable">
                <div class="card-image">
                    <img src="../../assets/img/gallery/g5.jpg">

                </div>
                <div class="card-content">
                    <span class="card-title center-align"> <b> Aplicação de Teto</b> </span>
                    <p> consectetur Perferendis nostrum consequuntur ut ipsa cum, laboriosam repellendus pariatur assumenda illum, odit repudiandae sit inventore et consequatur accusantium, at quod recusandae aut?</p>
                </div>
                <div class="card-action center-align">
                    <a href="#" class="blue-text text-darken-2"> <strong>Saiba Mais</strong></a>
                </div>
            </div>

        </div>
    </div>
</div>


<div class="row">
    &nbsp;
</div>



<app-footer></app-footer>