<app-menu>

</app-menu>

<div class="row">
    <div class="">
        <div class="card">
            <div class="center-align">
            </div>
            <div class="card-content">
                <div class="nav-wrapper container">
                    <h5>
                        <b> A Nossa <span class="blue-text text-darken-2">Galeria</span>
                    
                        </b>
                    </h5>
                    </div>
                    
                    </div>
                    
                    </div>

    </div>
</div>


&nbsp;

<div class="container">
    <div class="row">

        <div class="col s12 m6 l4">
            <div class="card hoverable">
                <div class="card-image circle">
                    <img src="../../assets/img/gallery/g2.jpg" class="materialboxed" width="650">

                </div>
                
                <div class="card-action center-align">
                    <a href="#" class="blue-text text-darken-2"> <strong></strong></a>
                </div>
            </div>

        </div>

        <div class="col s12 m6 l4">
            <div class="card hoverable">
                <div class="card-image">
                    <img src="../../assets/img/gallery/g1.jpeg">

                </div>

                
                <div class="card-action center-align">
                    <a href="#" class="blue-text text-darken-2"> <strong></strong></a>
                </div>
            </div>

        </div>

        <div class="col s12 m6 l4">
            <div class="card hoverable">
                <div class="card-image">
                    <img src="../../assets/img/gallery/c1.jpg">

                </div>
                
                <div class="card-action center-align">
                    <a href="#" class="blue-text text-darken-2"> <strong></strong></a>
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        &nbsp;
    </div>
    <hr>


    <div class="row">

        <div class="col s12 m6 l4">
            <div class="card hoverable">
                <div class="card-image circle">
                    <img src="../../assets/img/gallery/g5.jpg" class="materialboxed" width="650">

                </div>
                
                <div class="card-action center-align">
                    <a href="#" class="blue-text text-darken-2"> <strong></strong></a>
                </div>
            </div>

        </div>

        <div class="col s12 m6 l4">
            <div class="card hoverable">
                <div class="card-image">
                    <img src="../../assets/img/gallery/g3.jpg">

                </div>
            
                <div class="card-action center-align">
                    <a href="#" class="blue-text text-darken-2"> <strong></strong></a>
                </div>
            </div>

        </div>

        <div class="col s12 m6 l4">
            <div class="card hoverable">
                <div class="card-image">
                    <img src="../../assets/img/gallery/c2.jpg">

                </div>
                
                <div class="card-action center-align">
                    <a href="#" class="blue-text text-darken-2"> <strong></strong></a>
                </div>
            </div>

        </div>
    </div>
</div>


<div class="row">
    &nbsp;
</div>



<app-footer></app-footer>