<app-menu>
</app-menu>

<div class="row">
    <div class="">
        <div class="card">
            <div class="center-align">
            </div>
            <div class="card-content">
                <div class="nav-wrapper container">
                    <h5>
                        <b>
                            <span class="blue-text text-darken-2">
                                Construção Civil
                                <br>
                                <small class="black-text">OS PROFISSIONAIS</small>
                            </span>
                        </b>

                    </h5>
                </div>
            </div>
        </div>
    </div>
</div>

&nbsp;
<div class="row container">
    <div class="col s12 m12 l12">
        <p>
            Historicamente, o desempenho do mercado da construção civil acompanha a economia
            . Logo, o mercado de trabalho desse setor é cíclico, com períodos de alta demanda e, consequentemente, altos salários, e épocas em que os níveis de desemprego prejudicam a empregabilidade em todos os cargos e profissões. Confira alguns profissionais que trabalham no setor da construção civil.
            <br>
        </p>
        <p>
            A <b>LÓTUS HL & MN</b> destaca-se na sua área de intervenção de serviços de Construção Civil, graças a uma equipa multidisciplinar, experiente e focada na qualidade. A experiência com que contamos permite abordar qualquer solução de uma forma rápida e inovadora, ao mesmo tempo que garantimos o cumprimento dos prazos estabelecidos consigo, de acordo com o serviço de construção contratado.
        </p>
    </div>
</div>


<div class="section white  container">
    <div class="row">
        <div class="col s12 m12 l12">
            <h5 class="header"></h5>
            <div class="card horizontal z-depth-2 hoverable">
                <div class="card-image hide-on-small-only">
                    <img src="../../assets/img/civil/c2.jpg">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <h5 class="header">Arquiteto e urbanista</h5>
                        <P>
                            É o profissional que projeta e idealiza os espaços
                            para os mais diversos usos humanos, incluindo prédios,
                            praças, casas, escritórios, hospitais, museus, escolas,
                            pontes, dentre outras. Para planejar e organizar os
                            espaços o arquiteto leva em consideração as necessidades
                            de quem utilizará a construção acabada.
                        </P>

                    </div>

                </div>
            </div>
            <p class="grey-text text-darken-3 lighten-3"></p>
        </div>
    </div>
</div>



&nbsp;

<div class="row">
    <div class="col s12 m12 l12">
        <div class="center-align">
        </div>
        <div class="card-content">
            <div class="nav-wrapper container">
                <h5>
                    <b>
                        <span class="black-text text-darken-2">
                            SERVIÇOS DE CONSTRUÇÃO CIVIL
                            <br>

                        </span>
                    </b>

                </h5>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col s12 m4 l4">
            <div class="card hoverable">
                <div class="card-image circle">
                    <img src="../../assets/img/servico/c1.jpg" class="materialboxed" width="650">

                </div>
                <div class="card-content">
                    <span class="card-title center-align"> <b> Construção de Moradias</b> </span>
                    <p> </p>
                </div>
            </div>
        </div>

        <div class="col s12 m4 l4">
            <div class="card hoverable">
                <div class="card-image">
                    <img src="../../assets/img/servico/c2.jpg">

                </div>
                <div class="card-content">
                    <span class="card-title center-align"> <b> Reabilitação de Edifícios</b> </span>
                    <p> </p>
                </div>
            </div>
        </div>

        <div class="col s12 m4 l4">
            <div class="card hoverable">
                <div class="card-image">
                    <img src="../../assets/img/servico/c3.jpg">

                </div>
                <div class="card-content">
                    <span class="card-title center-align"> <b> Remodelações</b> </span>
                    <p> </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    &nbsp;
</div>

<div class="section white  container">
    <div class="row">
        <div class="col s12 m12 l12">
            <h5 class="header"></h5>
            <div class="card horizontal z-depth-2 hoverable">
                <div class="card-image hide-on-small-only">
                    <img src="../../assets/img/civil/c6.jpg">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <h5 class="header">NÓS CONSEGUIMOS FAZER</h5>
                        <P>
                            A experiência acumulada, desde 2017, em serviços de
                            Construção Civil proporcionou à LÓTUS a aquisição do
                            conhecimento e do know-how necessários para proporcionar
                            em cada projeto de construção, remodelação e reabilitação
                            o melhor serviço e acabamentos..
                        </P>
                        &nbsp;

                        <ul class="collection with-header">

                            <li class="collection-item">
                                <div>IDEIAS INOVADORAS <a class="secondary-content"><i class="material-icons">send</i></a></div>
                            </li>
                            <li class="collection-item">
                                <div>PROFISSIONALISMO TOTAL<a class="secondary-content"><i class="material-icons">send</i></a></div>
                            </li>
                            <li class="collection-item">
                                <div>TECNOLOGIAS RECENTES<a class="secondary-content"><i class="material-icons">send</i></a></div>
                            </li>

                        </ul>

                    </div>

                </div>
            </div>
            <p class="grey-text text-darken-3 lighten-3"></p>
        </div>
    </div>
</div>


<app-footer></app-footer>