<app-menu>
</app-menu>

<div class="row">
    <div class="">
        <div class="card">
            <div class="center-align">
            </div>
            <div class="card-content">
                <div class="nav-wrapper container">
                    <h5>
                        <b>
                            <span class="blue-text text-darken-2">
                                Construção, Equipamentos e Manutenção de Piscinas
                            </span>
                        </b>

                    </h5>
                </div>

            </div>

        </div>

    </div>
</div>




<div class="row">
    &nbsp;
</div>


<div class="row container">
    <div class="col s12 m12 l12">

        <p>Prazer, descanso e máximo conforto
        </p>
        <p>
            A LÓTUS é especialista na construção de piscinas, equipamentos e
            manutenção. Se considera comprar uma piscina, deverá ter em conta não
            só fatores como conforto, lazer, tranquilidade, mas também segurança,
            funcionalidade e durabilidade.
            <br>
            Seja qual for o espaço que tem à sua disposição, na LÓTUS conseguimos
            criar a piscina à medida da sua configuração, aliando a harmonia do ambiente
            com a melhor qualidade dos materiais, fazendo com que o resultado final seja
            a piscina com que sempre idealizou.
        </p>


    </div>

</div>

&nbsp;
<div class="row">
    <div class="col s12 m12 l12 blue-grey lighten-5">
        <div class="container">
            <h5 class="center-align">
                <strong>ILUSTRAÇÃO</strong>
                <br>

            </h5>
        </div>

    </div>


</div>
&nbsp;


<div class="container">
    <div class="row">

        <div class="col s12 m4 l4">
            <div class="card hoverable">
                <div class="card-image circle">
                    <img src="../../assets/img/servico/ps.jpg" class="materialboxed" width="650">

                </div>
                <div class="card-content">
                    <span class="card-title center-align"> <b> </b> </span>
                    <p> </p>
                </div>

            </div>

        </div>

        <div class="col s12 m4 l4">
            <div class="card hoverable">
                <div class="card-image">
                    <img src="../../assets/img/servico/ps01.jpg">

                </div>

                <div class="card-content">
                    <span class="card-title center-align"> <b> </b> </span>
                    <p> </p>
                </div>

            </div>

        </div>

        <div class="col s12 m4 l4">
            <div class="card hoverable">
                <div class="card-image">
                    <img src="../../assets/img/servico/ps3.jpg">

                </div>
                <div class="card-content">
                    <span class="card-title center-align"> <b></b> </span>
                </div>

            </div>

        </div>
    </div>

</div>

<div class="row">
    &nbsp;

</div>

<div class="container">
    <div class="row">

        <div class="col s12 m12 l4">
            <div class="card hoverable">
                <div class="card-image">
                    <img src="../../assets/img/servico/377.jpg" class="materialboxed" width="650">


                </div>
                <div class="card-content">
                    <span class="card-title center-align"> <b> Equipamentos para Piscinas</b> </span>
                    <p>Os equipamentos para piscinas são um complemento fundamental para a sua piscina, e vão ajudá-lo, no curto/médio prazo, a rentabilizar o seu investimento. </p>
                </div>

            </div>

        </div>

        <div class="col s12 m12 l4">
            <div class="card hoverable">
                <div class="card-image">
                    <img src="../../assets/img/servico/389.jpg">

                </div>
                <div class="card-content">
                    <span class="card-title center-align"> <b> Manutenção de Piscinas</b> </span>
                    <p>A gama de produtos de manutenção especificamente desenvolvidos para piscinas
                        ajuda-o a resolver os problemas relacionados com a água, filtros, fugas de água, e outros.
                    </p>
                </div>

            </div>

        </div>

        <div class="col s12 m12 l4">
            <div class="card hoverable">
                <div class="card-image">
                    <img src="../../assets/img/servico/396.jpg">

                </div>
                <div class="card-content">
                    <span class="card-title center-align"> <b>Cobertura para Piscinas</b> </span>
                    <p>Um dos aspetos que é bastante útil quando se tem uma piscina é obter
                        uma cobertura para piscinas adequada a proteger a sua utilização contra
                        todo o tipo de sujidade, e até possíveis quedas acidentais.
                    </p>
                </div>

            </div>

        </div>
    </div>

</div>




<app-footer></app-footer>